.Slider {
  $height: 2.5em;
  $height_track: $height / 3;
  $width: 100%;
  width: $width;
  height: $height;
  position: relative;

  > .mainTrack {
    height: $height_track;

    > .track {
      height: $height_track;
    }
  }

  > .thumb {
    width: $height;
  }

  &.column {
    width: $height;
    height: $width;

    > .mainTrack {
      width: $height_track;

      > .track {
        width: $height_track;
      }
    }
  }
}
