.Slider {
  position: absolute;
  left: 100px;
  top: 50px;
  background: #eeee93;
  width: 200px;
  //border: 0.1em solid black;

  > .thumb {
    width: 1em;
    aspect-ratio: 1/1;
    background: #3fff3f;
    border-radius: 50%;
    //border: solid red 0.1em;
    cursor: grab;
  }
}
