.Draggable {
  transform: translate(-30px, 80px);
  background: red;
  display: inline-flex;
  padding: 10px;
  $width: 100px;
  height: $width + 20px;
  position: relative;

  > .active {
    background: green;
    width: $width;
    height: $width;

  }
  > .children{
    background: #e6ef18;
    width: $width;
    height: $width;
  }
}
