.Input {
  outline: 0.1em solid black;
  border: 0;
  padding: 0.5em;
  border-radius: 0.3em;
  min-width: 1.2em;
  width: calc(var(--length));
  font-size: inherit;
  &:disabled {
    outline: 0;
  }

  &:hover:not(:focus, :disabled) {
    transition: scale 800ms;
    transform: scale(1.05);
  }

  &:focus {
    transform-origin: left;
    transition: scale 400ms;
    //transform: scale(1.1);
    background: rgba(255, 157, 157, 0.42);
  }
}
