.Description {
  position: relative;
  align-items: center;
  cursor: help;

  > .text {
    display: block;
    position: absolute;
    background: white;
    z-index: 100;
    font-size: 0.8rem;
    top: calc(100% + 0.4em);
    padding: 0.5em;
    border-radius: 0.2em;
  }
}




